/* ==========================================================================
   CONFIGURACIÓN GLOBAL
========================================================================== */

body {
  font-family: var(--fuente-secundaria);
  font-size: 1rem;
  line-height: var(--line-height-base);
  background-color: var(--color-primario);
  color: var(--color-secundario);
  overflow-x: hidden;
}

/* Contenido principal */
main {
  display: block;
}

/* Secciones */
section {
  position: relative;
  padding: 6rem 0;
}

/* Contenedor Bootstrap */
.container {
  max-width: var(--container-max-width);
}

/* Selección de texto */
::selection {
  background: var(--color-azul-turquesa);
  color: var(--color-primario);
}
main{
    padding-top: var(--navbar-height);
}
