/* ==========================================================================
   BOTÓN HAMBURGUESA
   ========================================================================== */

.btn-abrir-menu,
.btn-cerrar-menu {
  display: none;

  border: none;

  background: none;

  cursor: pointer;
}

.main-nav-item {
  position: relative;
}

.main-nav-item:hover {
  transform: none;
}

.main-nav-item a.active {
  color: var(--color-primary);

  font-weight: 700;
}

.main-nav-item a {
  transition:
    color 0.25s ease,
    transform 0.25s ease;
}

.main-nav-item a:hover {
  transform: translateY(-2px);
}

/* ==========================================================================
   MENÚ RESPONSIVE
   ========================================================================== */

@media (max-width: 991px) {
  /* Layout */

  .main-navigation {
    grid-template-columns: auto auto;
  }

  /* Login oculto en la barra superior */

  .btn-login {
    display: none;
  }

  /* Botón hamburguesa */

  .btn-abrir-menu {
    display: flex;

    align-items: center;

    justify-content: center;

    width: 48px;
    height: 48px;

    border: none;

    border-radius: 50%;

    background: transparent;

    color: var(--color-azul-turquesa);

    font-size: 1.4rem;

    cursor: pointer;

    transition: 0.3s ease;
  }

  .btn-abrir-menu:hover {
    color: var(--color-secundario);

    transform: scale(1.08);

    text-shadow:
      0 0 8px rgba(34, 211, 238, 0.45),
      0 0 18px rgba(34, 211, 238, 0.25);
  }

  .btn-abrir-menu:active {
    transform: scale(0.96);
  }

  /* Panel lateral */
}

@media (max-width: 991px) {
  .main-navigation {
    grid-template-columns: 1fr auto;
  }
}

/*boton cerrar */
@media (max-width: 991px) {
  .btn-cerrar-menu {
    display: flex;

    position: absolute;

    top: 24px;

    right: 24px;

    width: 44px;

    height: 44px;

    border: none;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.08);

    color: white;

    align-items: center;

    justify-content: center;

    cursor: pointer;

    transition: 0.3s;
    transform: scale(1.08);
  }

  .btn-cerrar-menu:hover {
    background: rgba(34, 211, 238, 0.15);
  }
}
